<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eyasumulugeta.pyf">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoToolBarWithABrandTheme">
        <activity android:name=".activities.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.activities.IntroActivity"
            android:theme="@style/AppTheme.NoToolBarWithABrandTheme.Fullscreen" />
        <activity android:name=".activities.activities.SignInActivity" />
        <activity android:name=".activities.activities.SignUpActivity" />
        <activity android:name=".activities.activities.RecoverPasswordActivity" />
        <activity android:name=".activities.activities.SupportActivity" />
        <activity android:name=".activities.activities.RequestLoanActivity" />
        <activity android:name=".activities.activities.SettingsActivity" />
        <activity android:name=".activities.activities.ChangePasswordActivity" />
        <activity android:name=".activities.activities.AboutActivity" />
        <activity android:name=".activities.activities.RequestOnExtensionActivity" />
        <activity
            android:name=".activities.activities.LeftNavigationActivity"
            android:label="@string/title_activity_left_navigation"
            android:theme="@style/AppTheme.NoToolBarWithABrandTheme.NoActionBar" />
        <activity android:name=".activities.activities.SingleDebtActivity" />
        <activity android:name=".activities.activities.ProfileActivity" />
        <activity android:name=".activities.activities.LoanRequestsActivity" />
        <activity android:name=".activities.activities.PrivacyPolicyActivity" />
        <activity android:name=".activities.activities.EditProfileActivity" />
        <activity android:name=".activities.activities.SpecificLoanRequestActivity" />
        <activity android:name=".activities.activities.DebtDetailsActivity"></activity>
    </application>
</manifest>